# sample config file for idle_timer command
# copy this file to $HOME/.idle_timer

# if your system has been idle for just 3 minutes, then execute the command.
idle:3:idling_in_3min.sh

# if your system has been idle for just 10 minutes, then execute the command.
idle:10:idling_in_10min.sh

# if your system wakes after idling in 300 minutes or above, then execute the command.
wakeup:300:python ~/bin/timecard.py
